@model HastaneVeritabani.Models.Entity.Acil_Kayit

@{
    ViewBag.Title = "AcilKayit";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h3><i>@Model.acil_id</i> numaralı acil kaydı bilgileri</h3>
<h4>
    Kayıt Durumu: <i class="@(Model.acil_kayit_durum == true ? "text-success" : "text-danger")">@(Model.acil_kayit_durum == true ? "Aktif" : "Geçmiş")</i>
</h4>
<br>
<br>
<br>

<table class="table table-danger" style="border-top: 3px solid #1e1e1e; width: 100%; ">

    <tr>
        <th>Hasta TC No</th>
        <td>@Model.Hasta.hasta_tcno</td>
    </tr>
    <tbody><tr></tr></tbody>
    <tr>
        <th>Doktor TC No</th>
        <td>@Model.Personel.personel_tcno</td>
    </tr>
    <tbody><tr></tr></tbody>
    <tr>
        <th>Hasta Bilgileri</th>
        <td>
            <a href="@Url.Action("HastaBilgi", "Hasta", new { id = Model.hasta_id })" class="btn btn-warning" target="_blank">🔍</a>
        </td>
    </tr>
    <tbody><tr></tr></tbody>
    <tr>
        <th>Doktor Bilgileri</th>
        <td>
            <a href="@Url.Action("PersonelBilgi", "Personel", new { id = Model.personel_id })" class="btn btn-warning" target="_blank">🔍</a>
        </td>
    </tr>
    <tbody><tr></tr></tbody>
    <tr>
        <th>Kayıt Tarihi</th>
        <td>@Model.acil_giris_tarihi</td>
    </tr>
    <tbody><tr></tr></tbody>
    <tr>
        <th>Çıkış Tarihi</th>
        <td>@(Model.acil_kayit_durum && Model.acil_cikis_tarihi.HasValue ? Model.acil_cikis_tarihi.Value : (DateTime?)null)</td>
    </tr>
    <tbody><tr></tr></tbody>
    <tr>
        <th>Tanı:</th>
        <td>@Model.acil_tani</td>
    </tr>
    <tbody><tr></tr></tbody>
</table>
<div class="center-form-container">
    <a href="@Url.Action(Model.acil_kayit_durum ? "AktifAcilKayitlar" : "GecmisAcilKayitlar", "AcilKayit")" class="btn btn-warning">Geri</a>
    <span style="margin-right:5px;"></span>
    <a href="@Url.Action("Sil", "AcilKayit", new { id = Model.acil_id })" class="btn btn-danger" onclick="return confirm('Silmek istediğinize emin misiniz?');">Sil</a>
</div>