@using HastaneVeritabani.Models.Entity
@using PagedList
@using PagedList.Mvc

@model PagedList.IPagedList<Randevu>
@{
    ViewBag.Title = "AktifRandevular";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h3>Veritabanında <i>@Model.Count</i> adet aktif randevu kaydı bulundu.</h3>

<div style="text-align: right; padding-top: 15px;">
    <form asp-action="Index" method="get" class="form-inline">
        <input type="text" name="arama" class="form-control" placeholder="Hasta/Doktor ara" onclick="this.select() " value="@ViewBag.arama" />
        <button type="submit" class="btn btn-warning" onclick="clearSearch()">Ara</button>
        <a href="/Randevu/AktifRandevular" class="btn btn-primary">Sıfırla</a>
    </form>
</div>
<b>Aktif Randevu;</b>
<table class="table table-danger" style="border-top: 3px solid #1e1e1e; width: 100%; ">
    <tr>
        <th>Randevu Kayıt No</th>
        <th>Departman Ad</th>
        <th>Hasta TC No</th>
        <th>Doktor TC No</th>
        <th>Randevu Tarihi</th>
        <th>Bilgi</th>
        <th>İptal İşlemleri</th>
    </tr>
    <tbody>
        @foreach (var randevu in Model)
        {
            <tr>
                <td>@randevu.randevu_id</td>
                <td>@randevu.Departman.departman_ad</td>
                <td>@randevu.Hasta.hasta_tcno</td>
                <td>@randevu.Personel.personel_tcno</td>
                <td>@randevu.randevu_tarih.ToString("yyyy-MM-dd HH:mm")</td>
                <td><a href="@Url.Action("RandevuBilgi", "Randevu", new { id = randevu.randevu_id })" class="btn btn-warning">🔍</a></td>
                <td>
                    <a href="@Url.Action("RandevuIptal", "Randevu", new { id = randevu.randevu_id })" class="btn btn-danger" onclick="return confirm('Randevuyu iptal etmek istediğinize emin misiniz?');">
                        İptal
                    </a>
            </tr>
        }
    </tbody>
</table>

<div style="text-align: center;">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("AktifRandevular", "Randevu", new { sayfa = page, arama = ViewBag.arama }))
</div>
